<div class="bg"></div>

<div class="container">
    <section id="home" class="main-page">
        <div class="left-side">
            <div class="text">
                <h1 class="title">hej !<br>nazywam się <span>mateusz</span></h1>
                <p class="title">projektant / grafik komputerowy</p>
            </div>
        </div>
        <div class="right-side">
            <img class="img" src="./assets/images/Zdjęcie profilowe.jpg">
        </div>
    </section>

    <section id="section-2" class="about">
        <div class="bar leftbar">
            <div class="img-bar img"></div>
            <div class="list">
                    <i class="fa-solid fa-circle"></i>
                <h1 class="title" style="color: #fff;">o mnie</h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-3">grafika 3D</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-4">malarstwo</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-5">rysunek odręczny</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-6">wizualizacje</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-7">struktury</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-8">etykieta na kubek</a></h1>
                    <i class="fa-solid fa-circle"></i>
            </div>
        </div>
        <div class="info">
            <div class="text">
                <p class="title">o mnie.</p>
                <p class="intro">Nazywam się <span>Mateusz Dybowski</span>, projektant / grafik komputerowy.</p>
                <p class="description">Jestem młodym człowiekiem pełnym zapału, a zarazem absolwentem
                    Wzornictwa Przemysłowego. Tworzę różnego rodzaju projekty od prac
                    rysunkowych po malarskie przez grafikę 3D i wizualizacje. 
                    Jestem samoukiem i w każdym projekcie staram się znaleźć to co w nim najlepsze
                    i na jego podstawie dopieszczać swoje prace. Do każdego projektu podchodzę
                    indywidualnie i skupiam się na nim w 100% dążyć do zadowolenia wśród odbiorców.</p>
                <a class="title" href="#contact">Kontakt ze mną</a>
            </div>
        </div>
        <div class="bar rightbar">
            <div class="list">
                    <i class="fa-solid fa-circle"></i>
                <h1><a class="title" href="#section-9">moja butelka</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-10">plansze</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-11">ulotka</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-12">projekt siedziska</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-13">koszulki</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-14">plakietka z logo</a></h1>
                    <i class="fa-regular fa-circle"></i>
                <h1><a class="title" href="#section-15">moduł</a></h1>
                    <i class="fa-solid fa-circle"></i>
            </div>
            <div class="img-bar"></div>
        </div>
    </section>

    <section id="section-3" class="graphics">
        <div class="img-grid">
            <img class="img-1" src="./assets/images/Mój projekt 500ml.png">
            <img class="img-2" src="./assets/images/Schemat wybuchowy.png">
            <img class="img-3"src="./assets/images/Pierścionek.png">
            <img class="img-4" src="./assets/images/Samolot.png">
        </div>
        <div class="wall"></div>
        <div class="text">
            <h1 class="title">grafika 3d.</h1>
            <p>Tworzę różnego rodzaju projekty 3D</p>
            <ul>
                <li>formowanie z bryły kształtu,</li>
                <li>reinwentaryzacja prawdziwego
                    produktu i stworzenie jego wersji
                    cyfrowej,</li>
                <li>biżuterię,</li>
                <li> innowacyjne kształty i produkty
                    codziennego użytku.</li>
            </ul>
        </div>
    </section>

    <section id="section-4" class="painting-1">
        <div class="paint-title">
            <h1 class="title">malarstwo.</h1>
        </div>
        <div class="container">
            <div class="img-grid">
                <div class="bg-img"></div>
                <div class="img"></div>
            </div>
            <div class="text">
                <p>Malowidło przedstawiające widok z okna.</p>
            </div>
        </div>
    </section>

    <section id="section-4" class="painting-2">
        <div class="text">
            <p>Malowidło przedstawiające<br>dworzec kolejowy.</p>
        </div>
        <div class="img-grid">
            <div class="bg-img"></div>
            <div class="img"></div>
        </div>
    </section>

    <section id="section-5" class="rys-1">
        <div class="text">
            <p>Rysunki wykonane techniką
                rysunkową mające na celu zapoznanie
                z różnymi technkiami wykonania
                Rysunku od rysunków technichnych
                Po światłocieniowe i mające
                na celu zapozanie się ze strukurą
                materiałową.</p>
            <h1 class="title">rysunek odręczny.</h1>
        </div>
        <div class="img-grid">
            <div class="bg-img"></div>
            <div class="img"></div>
        </div>
    </section>

    <section id="section-5" class="rys-2">
        <div class="img-grid">
            <div class="bg-img-1"></div>
            <div class="bg-img-2"></div>
            <div class="img"></div>
        </div>
    </section>

    <section id="section-5" class="rys-3">
        <div class="left-img">
            <div class="img img-1"></div>
        </div>
        <div class="right-img">
            <div class="img img-2"></div>
        </div>
    </section>

    <section id="section-6" class="visual-1">
        <div class="left-img">
            <div class="img"></div>
        </div>
        <div class="text">
            <h1 class="title">wizualizacje.</h1>
            <p>Celem ćwiczenia było stworzenie
                wizualizajci pomieszczeń mieszkalnych
                takich jak sypialnia i łazienka.
            </p>
        </div>
    </section>

    <section id="section-6" class="visual-2">
        <div class="left-img">
            <div class="img"></div>
        </div>
        <div class="right-img">
            <div class="img"></div>
        </div>
    </section>

    <section id="section-7" class="strukture">
        <div class="left-img">
            <div class="img"></div>
        </div>
        <div class="right-side">
            <div class="img-grid">
                <img src="./assets/images/untitled.jpg">
                <div class="bg-img"></div>
            </div>
            <p>Wzór stworzony na podstawie graficznego,<br>
                uproszczonego wyglądu grzybów.</p>
            <h1 class="title">struktura.</h1>
        </div>
    </section>

    <section id="section-8" class="label">
        <div class="text">
            <div class="t-1">
                <p>Tworzenie graficznej
                etykiety na ciepły
                kubek do herbaty
                lub kawy.</p>
            </div>
            <div class="t-2">
                <h1 class="title">etykieta<br>na kubek.</h1>
            </div>
        </div>
        <div class="img-grid">
            <img class="img-1" src="./assets/images/Szablon-kubka3.png">
            <img class="img-2" src="./assets/images/Szablon-kubka2.png">
            <img class="img-3" src="./assets/images/Kubek.png">
        </div>
    </section>

    <section id="section-9" class="glass">
        <div class="left-side">
            <div class="text">
                <h1 class="title">moja<br>butelka.</h1>
                <p>Butelka według mojego projektu<br>
                    nawiązująca do ziarna kawy.</p>
            </div>
        </div>
        <div class="right-side">
            <div class="bg-img">
                <img src="./assets/images/butelka.png">
            </div>
        </div>
    </section>

    <section id="section-10" class="boards-1">
        <div class="content">
            <div class="text">
                <h1 class="title">plansze.</h1>
            </div>
            <div class="bg-img">
                <img src="./assets/images/Plansza5.0.jpg">
            </div>
        </div>
    </section>
    
    <section id="section-10" class="boards-2">
        <div class="bg-content">
            <div class="image">
                <img src="./assets/images/Lampka.jpg">
            </div>
            <div class="squares-grid">
                <div class="sq square-1"></div>
                <div class="sq square-2"></div>
                <div class="sq square-3"></div>
                <div class="sq square-4"></div>
                <div class="sq square-5"></div>
                <div class="sq square-6"></div>
                <div class="sq square-7"></div>
                <div class="sq square-8"></div>
                <div class="sq square-9"></div>
            </div>
        </div>
    </section>

    <section id="section-10" class="boards-3">
        <div class="orion-grid">
            <div class="square-1"></div>
            <div class="square-2"></div>
            <div class="square-3"></div>
        </div>
        <div class="image"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
    </section>

    <section id="section-11" class="leaflet-1">
        <div class="orion-grid">
            <div class="square-1"></div>
            <div class="square-2"></div>
            <div class="square-3"></div>
        </div>
        <div class="bg-title">
            <h1 class="title">ulotka.</h1>
        </div>
        <div class="right-side">
            <div class="image">
                <img src="./assets/images/Ulotka.jpg">
            </div>
            <div class="text">
                <p>Ulotka mojego projektu informująca<br>
                    o otwarciu biblioteki.</p>
            </div>
        </div>
    </section>

    <section id="section-11" class="leaflet-2">
        <div class="image">
            <img src="./assets/images/Ulotka1.jpg">
        </div>
        <div class="right-side">
            <div class="orion-grid">
                <div class="square-1"></div>
                <div class="square-2"></div>
                <div class="square-3"></div>
            </div>
        </div>
    </section>

    <section id="section-12" class="seat-1">
            <div class="bg-img">
                <div class="image"></div>
                <div class="squares-grid">
                    <div class="sq square-1"></div>
                    <div class="sq square-2"></div>
                    <div class="sq square-3"></div>
                    <div class="sq square-4"></div>
                    <div class="sq square-5"></div>
                    <div class="sq square-6"></div>
                    <div class="sq square-7"></div>
                    <div class="sq square-8"></div>
                    <div class="sq square-9"></div>
                </div>
            </div>
            <div class="text">
                <h1 class="title">projekt siedziska.</h1>
                <p>Celem projektu było stworzenie układu
                    technicznego umożliwiającego
                    człowiekowi wypoczynek w pozycji
                    między leżącą a stojącą.</p>
            </div>
    </section>

    <section id="section-12" class="seat-2">
        <div class="squares-grid">
            <div class="sq square-1"></div>
            <div class="sq square-2"></div>
            <div class="sq square-3"></div>
            <div class="sq square-4"></div>
            <div class="sq square-5"></div>
            <div class="sq square-6"></div>
            <div class="sq square-7"></div>
            <div class="sq square-8"></div>
            <div class="sq square-9"></div>
        </div>
        <div class="rectangle"></div>
        <div class="image"></div>
    </section>

    <section id="section-13" class="shirt">
        <div class="bg-img">
            <div class="image"></div>
        </div>
        <div class="text">
            <h1 class="title">koszulki.</h1>
            <p>Projekt koszulek harcerskich<br>
                dla 48 DH „Knieja”.</p>
        </div>
    </section>

    <section id="section-14" class="logo">
        <div class="image"></div>
        <div class="text">
            <h1 class="title">plakietka<br>z logo.</h1>
            <p>Grafika przedstawia plakietkę
                zimowiskową na obóz harcerski
                „XV Szczepu Bratnich Ognisk” w Bukowcu.</p>
        </div>
    </section>

    <section id="section-15" class="module">
        <div class="content">
            <div class="image-1"></div>
            <div class="text">
                <h1 class="title">chill room.</h1>
                <p>Grupowy projekt aranżacji miejsca przeznaczonego <br>
                    do odpoczynku dla studentów.</p>
            </div>
            <div class="orion-grid">
                <div class="square-1"></div>
                <div class="square-2"></div>
                <div class="square-3"></div>
            </div>
            <div class="bg-img-right">
                <div class="image-2"></div>
                <div class="image-3"></div>
            </div>
        </div>
    </section>

    <div id="contact" class="footer">
        <div class="text">
            <h1 class="title">kontakt.</h1>
            <h3 class="email"><a href="mailto:m-dybowski533@wp.pl">m-dybowski533@wp.pl</a></h3>
            <h3 class="town">Opole</h3>
            <!-- <p>Background from <a href="https://www.freepik.com/free-photo/cement-veined-surface_1038831.htm#query=textures&position=44&from_view=search&track=robertav1_2_sidr">Image by kues1</a> on Freepik.</p> -->
            <h2 class="heading">Atrybucja grafik</h2>
            <p>Background Gold Black by <a href="https://www.freepik.com/free-photo/black-gold-marble-texture_20010818.htm#query=marble&position=9&from_view=search&track=robertav1_2_sidr">Image by Vectonauta</a> on Freepik.</p>
        </div>
        <div class="line"></div>
        <div class="rights">
            <p>© 2023 Mateusz Dybowski</p>
        </div>
    </div>
</div>

<div class="navbar nav-OFF">
    <div class="left-bar">
        <div class="list">
            <div class="circle">
                <a href="#home"><i id="ic-home" class="fa-solid fa-house in-circle"></i></a>
            </div>

            <div class="item" *ngFor="let icon of iconList" #item>
                <div class="icon">
                    <a href="#{{icon.id}}"><i id="{{icon.id}}" class="fa-solid {{icon.icon}}" 
                        [ngClass]="{'visible': isLinkActive(icon.id)}"></i></a>
                </div>
                <div class="nav-text">
                    <h1><a href="#{{icon.id}}" class="title">{{icon.title}}</a></h1>
                </div>
            </div>

            <div class="circle">
                <a href="#contact"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <div class="title-nav">
            <h1><a href="#home">MDYBOVSKY</a></h1>
        </div>
        <div id="hamburger" class="hamburger" (click)="focusHamburger()">
            <span class="line-0"></span>
            <span class="line-1"></span>
            <span class="line-2"></span>
        </div>
        <div id="list-mobile" class="list-mobile">
            <ul class="navItems-m">
                <li><a href="#home">Główna</a></li>
                <li *ngFor="let icon of iconList"><a href="#{{icon.id}}">{{icon.title}}</a></li>
                <li><a href="#contact">Kontakt</a></li>
            </ul>
            <p>© 2023 Mateusz Dybowski</p>
        </div>
    </div>
</div>